<div class="h-screen w-[full] flex items-center justify-center bg-slate-200">
    <div class="md:w-[40%] bg-neutral-500/50 p-2 rounded-lg items-center flex flex-col">
        <div class=" ">
            <app-calendar></app-calendar>
            <div class="card-line my-4"></div>
        </div>
        <div class="w-[80%] md:m-10">
            <div class="flex flex-row justify-between ">
                <h2 class="pr-4">hora</h2>
                <h2>nome</h2>
            </div>
            <div class="card-line"></div>
        </div>
    </div>
</div>
